@font-face {
  font-family: "Logo Black";
  src: url("../public/fonts/Colfax-Black.otf");
}

@font-face {
  font-family: "Logo Bold";
  src: url("../public/fonts/Colfax-Bold.otf");
}

@font-face {
  font-family: "Logo Med";
  src: url("../public/fonts/Colfax-Medium.otf");
}

@font-face {
  font-family: "Inter Black";
  src: url("../public/fonts/Inter-Black.ttf");
}

@font-face {
  font-family: "Inter Med";
  src: url("../public/fonts/Inter-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
